<h1 class="ui header">
    Tab
</h1>
<div class="ui ignored info message">
    A tab is a hidden section of content activated by a menu.
</div>

<div class="ui segment">

    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="tab-examples">Examples</a>
        <a class="item" data-tab="tab-settings">Settings</a>
    </div>
    <div class="ui tab active" data-tab="tab-examples">
        <h2>Basic Tabs</h2>
        <p>Tabs are connected using paths specified in the <code>data-tab</code> attribute.</p>
        <div tabContext="basic">
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item" data-tab="third">Third</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first">
                First
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
                Second
            </div>
            <div class="ui bottom attached tab segment" data-tab="third">
                Third
            </div>
        </div>

        <h2>Multiple Tab Groups</h2>
        <p>Multiple tab Groups are sometimes needed so you can specify different groups by wrapping them in a tab context</p>

        <div tabContext="context1">
            <div class="ui secondary menu">
                <a class="item" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item active" data-tab="third">Third</a>
            </div>
            <div class="ui tab segment" data-tab="first">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first/a">1A</a>
                    <a class="item" data-tab="first/b">1B</a>
                    <a class="item" data-tab="first/c">1C</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first/a">1A</div>
                <div class="ui bottom attached tab segment" data-tab="first/b">1B</div>
                <div class="ui bottom attached tab segment" data-tab="first/c">1C</div>
            </div>
            <div class="ui tab segment" data-tab="second">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="second/a">2A</a>
                    <a class="item" data-tab="second/b">2B</a>
                    <a class="item" data-tab="second/c">2C</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="second/a">2A</div>
                <div class="ui bottom attached tab segment" data-tab="second/b">2B</div>
                <div class="ui bottom attached tab segment" data-tab="second/c">2C</div>
            </div>
            <div class="ui tab segment active" data-tab="third">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="third/a">3A</a>
                    <a class="item" data-tab="third/b">3B</a>
                    <a class="item active" data-tab="third/c">3C</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="third/a">3A</div>
                <div class="ui bottom attached tab segment" data-tab="third/b">3B</div>
                <div class="ui bottom attached tab segment active" data-tab="third/c">3C</div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div tabContext="context2">
            <div class="ui secondary menu">
                <a class="item" data-tab="fourth">Fourth</a>
                <a class="item" data-tab="fifth">Fifth</a>
                <a class="item active" data-tab="sixth">Sixth</a>
            </div>
            <div class="ui tab segment" data-tab="fourth">4</div>
            <div class="ui tab segment" data-tab="fifth">5</div>
            <div class="ui active tab segment" data-tab="sixth">6</div>
        </div>

        <h2>Paths</h2>
        <p>If you have nested tabs you can specify paths for them so that if a parent is selected it will open up all the children recursivly down the line</p>
        <div tabContext="path">
            <div class="ui pointing secondary menu">
                <a class="active item" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item" data-tab="third">Third</a>
            </div>
            <div class="ui active tab segment" data-tab="first">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first/a">1A</a>
                    <a class="item" data-tab="first/b">1B</a>
                    <a class="item" data-tab="first/c">1C</a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first/a">1A</div>
                <div class="ui bottom attached tab segment" data-tab="first/b">1B</div>
                <div class="ui bottom attached tab segment" data-tab="first/c">1C</div>
            </div>
            <div class="ui tab segment" data-tab="second">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="second/a">2A</a>
                    <a class="item" data-tab="second/b">2B</a>
                    <a class="item" data-tab="second/c">2C</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second/a">2A</div>
                <div class="ui bottom attached tab segment" data-tab="second/b">2B</div>
                <div class="ui bottom attached tab segment" data-tab="second/c">2C</div>
            </div>
            <div class="ui tab segment" data-tab="third">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="third/a">3A</a>
                    <a class="item" data-tab="third/b">3B</a>
                    <a class="item" data-tab="third/c">3C</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="third/a">3A</div>
                <div class="ui bottom attached tab segment" data-tab="third/b">3B</div>
                <div class="ui bottom attached tab segment" data-tab="third/c">3C</div>
            </div>
        </div>

        <h2>History Examples</h2>
        <p>Adding for the ability for the history of the page to also be taken into account when when navigating through the tabs</p>
        <div tabContext="history" history="true">
            <div class="ui pointing secondary menu">
                <a class="item" data-tab="first">First</a>
                <a class="item" data-tab="second">Second</a>
                <a class="item active" data-tab="third">Third</a>
            </div>
            <div class="ui tab segment" data-tab="first">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="first/a">1A</a>
                    <a class="item" data-tab="first/b">1B</a>
                    <a class="item active" data-tab="first/c">1C</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="first/a">1A</div>
                <div class="ui bottom attached tab segment" data-tab="first/b">1B</div>
                <div class="ui bottom attached tab segment active" data-tab="first/c">1C</div>
            </div>
            <div class="ui tab segment" data-tab="second">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="second/a">2A</a>
                    <a class="item" data-tab="second/b">2B</a>
                    <a class="item" data-tab="second/c">2C</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="second/a">2A</div>
                <div class="ui bottom attached tab segment" data-tab="second/b">2B</div>
                <div class="ui bottom attached tab segment" data-tab="second/c">2C</div>
            </div>
            <div class="ui tab segment active" data-tab="third">
                <div class="ui top attached tabular menu">
                    <a class="item" data-tab="third/a">3A</a>
                    <a class="item active" data-tab="third/b">3B</a>
                    <a class="item" data-tab="third/c">3C</a>
                </div>
                <div class="ui bottom attached tab segment" data-tab="third/a">3A</div>
                <div class="ui bottom attached tab segment active" data-tab="third/b">3B</div>
                <div class="ui bottom attached tab segment" data-tab="third/c">3C</div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="tab-settings">
        <h2>Directives</h2>
        <p>A set of directives that work together to create tabs</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Usage</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.ui.tab</td>
                    <td>&lt;div class="ui tab" data-tab="tab-path"&gt;&lt;/div&gt;</td>
                    <td>This is the content that should be displayed when the tab is active</td>
                </tr>
                <tr>
                    <td>[data-tab]:not(.ui.tab)</td>
                    <td>&lt;a class="item" data-tab="tab-path"&gt;&lt;/a&gt;</td>
                    <td>This is the trigger that will open a specific tab when clicked</td>
                </tr>
                <tr>
                    <td>[tabContext]</td>
                    <td>&lt;div tabContext="context-name"&gt;&lt;/div&gt;</td>
                    <td>This is the context this tab can trigger in, it is best to have both the tabs and the triggers</td>
                </tr>
            </tbody>
        </table>

        <h2>Settings</h2>
        <p>Settings that can be added to the elements to change the functionality of the tabs.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Default</th>
                    <th>Context</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[tab] | [data-tab]</td>
                    <td>*required</td>
                    <td>any</td>
                    <td>The attribute that determines the tab content as well as the tab triggers</td>
                </tr>
                <tr>
                    <td>.active</td>
                    <td>false</td>
                    <td>.ui.tab | [data-tab]:not(.ui.tab)</td>
                    <td>Determine if this is the default tab that should be opened if one is not selected</td>
                </tr>
                <tr>
                    <td>[history]</td>
                    <td>false</td>
                    <td>[tabContext]</td>
                    <td>Whether the tab should be pushed to the url history of the application</td>
                </tr>
            </tbody>
        </table>
        <h2>Callbacks</h2>
        <p>Callbacks that can be added to the elements to add extra functionality on the events.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Parameters</th>
                    <th>Context</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>(visible)</td>
                    <td>isVisible</td>
                    <td>.ui.tab</td>
                    <td>Event that will occur once the tab becomes visible</td>
                </tr>
            <tbody>
        </table>
    </div>
</div>
