<h1 class="ui header">Search</h1>
<div class="ui ignored info message">
    A search module allows a user to query for results from a selection of data.
</div>

<div class="ui hidden divider"></div>


<div class="ui segment">

    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="examples">Examples</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>

    <div class="ui tab active" data-tab="examples">
        <h4>Standard</h4>
        <p>This is a basic search with a client side source.</p>
        <div class="ui search" [source]="basicSource">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Common passwords...">
                <i class="search icon"></i>
            </div>
        </div>

        <h4>Search Callback</h4>
        <p>This is a search that uses the search callback to filter out the results.</p>
        <div class="ui search" [searchCallback]="basicSearch">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Common passwords...">
                <i class="search icon"></i>
            </div>
        </div>

        <h4>Category Search</h4>
        <p>Searching also allows for categories to be built out.</p>
        <div class="ui search category" [source]="categorySource">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Common passwords...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="settings">
        <h2>Directives / Components</h2>
        <p>A set of directives and components that work together to create a search component.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Usage</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.ui.search</td>
                    <td>&lt;div class="ui search" [source]="basicSource" &gt;&lt;/div&gt;</td>
                    <td>The container for the component of the search. *Note the results div is not needed because it is added by this component.</td>
                </tr>
                <tr>
                    <td>input.prompt</td>
                    <td>&lt;input type="search" class="prompt" /&gt;</td>
                    <td>The search input that will be used for this search component.</td>
                </tr>
            </tbody>
        </table>

        <h2>Settings</h2>
        <p>Settings that can be added to the elements to change the functionality of the search component.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[transition]</td>
                    <td>fade</td>
                    <td>The animation transition that should be used when this element is displayed and hidden.</td>
                </tr>
                <tr>
                    <td>[duration]</td>
                    <td>200</td>
                    <td>The duration of the transition.</td>
                </tr>
                <tr>
                    <td>[source]</td>
                    <td></td>
                    <td>The local search object to be used for searching.</td>
                </tr>
                <tr>
                    <td>[maxResults]</td>
                    <td>7</td>
                    <td>The number of max results that should be displayed when the search is done.</td>
                </tr>
                <tr>
                    <td>[searchCallback]</td>
                    <td></td>
                    <td>The search callback that should be called instead of the internal callback.</td>
                </tr>
                <tr>
                    <td>[debounce]</td>
                    <td>400</td>
                    <td>The number of milliseconds that should be delayed before searching will take place.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
