<h1 class="ui header">Embed</h1>
<div class="ui ignored info message">
    A rating indicates user interest in content.
</div>

<div class="ui segment">
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="examples">Examples</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>
    <div class="ui tab active" data-tab="examples">
        <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="/images/image-16by9.png"></div>

    </div>
    <div class="ui tab" data-tab="examples">
    </div>
</div>
