<h1 class="ui header">Rating</h1>
<div class="ui ignored info message">
    A rating indicates user interest in content.
</div>

<div class="ui segment">
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="rating-examples">Examples</a>
        <a class="item" data-tab="rating-settings">Settings</a>
    </div>
    <div class="ui tab active" data-tab="rating-examples">
        <h4>Basic Rating</h4>
        <p>Ratings are counted as an input and can be used as such.</p>
        <div class="ui star rating" data-rating="10" [(ngModel)]='basicRating'></div> Rating: {{basicRating}}

        <h4>Icon Variations</h4>
        <p>Ratings can take on different icons to use for the rating system.</p>
        <div class="ui star rating" data-rating="6" [(ngModel)]='starRating'></div> Rating: {{starRating}}
        <div class="ui divider hidden"></div>
        <div class="ui heart rating" data-rating="5" [(ngModel)]='heartRating'></div> Rating: {{heartRating}}

        <h4>Size Variations</h4>
        <p>Ratings can also come in different sizes.</p>
        <div class="ui mini star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui tiny star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui small star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui large star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui huge star rating"></div>
        <div class="ui divider hidden"></div>
        <div class="ui massive star rating"></div>
    </div>
    <div class="ui tab" data-tab="rating-settings">
        <h2>Components</h2>
        <p>A set of components that will build out the rating system.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Usage</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.ui.rating</td>
                    <td>&lt;div class="ui rating" data-rating="10"&gt;&lt;/div&gt;</td>
                    <td>The rating wrapper that will build out the rating icons and create the input for that element.</td>
                </tr>
            </tbody>
        </table>

        <h2>Settings</h2>
        <p>Settings that can be added to the elements to change the functionality of the rating component.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[data-rating] | [rating]</td>
                    <td>4</td>
                    <td>The amount of rating icons the rating object will have.</td>
                </tr>
                <tr>
                    <td>[clearable]</td>
                    <td>true</td>
                    <td>Clearable if the current rating is selected twice.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
