<h1 class="ui header">Shape</h1>
<div class="ui ignored info message">
    Sticky class forces the element that it is attached to to follow the user when scrolling.
</div>

<div class="ui hidden divider"></div>


<div class="ui segment">

    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="examples">Examples</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>

    <div class="ui tab active" data-tab="examples">
        <h4>Shape</h4>
        <p>A shape is a three dimensional object that has content on either side.</p>
        <div class="ui people shape" #shape>
            <div class="sides">
                <div class="side">
                    <div class="ui card">
                        <div class="image">
                            <img src="src/assets/images/steve.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Steve Jobes</div>
                            <div class="meta">
                                <a>Acquaintances</a>
                            </div>
                            <div class="description">
                                Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right floated">
                                Joined in 2014
                            </span>
                            <span>
                                <i class="user icon"></i>
                                151 Friends
                            </span>
                        </div>
                    </div>
                </div>
                <div class="side active">
                    <div class="ui card">
                        <div class="image">
                            <img src="src/assets/images/stevie.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Stevie Feliciano</a>
                            <div class="meta">
                                <span class="date">Joined in 2014</span>
                            </div>
                            <div class="description">
                                Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Left" (click)="shape.flipLeft()"><i class="left long arrow icon"></i></div>
            <div class="ui button" title="Flip Up" (click)="shape.flipUp()"><i class="up long arrow icon"></i></div>
            <div class="ui icon button visible" title="Flip Down" (click)="shape.flipDown()"><i class="down long arrow icon"></i></div>
            <div class="ui icon button" title="Flip Right" (click)="shape.flipRight()"><i class="right long arrow icon"></i></div>
        </div>

        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Over" (click)="shape.flipOver()"><i class="retweet icon"></i></div>
            <div class="ui button visible" title="Flip Back" (click)="shape.flipBack()"><i class="flipped retweet icon"></i></div>
        </div>

        <h4>Cube</h4>
        <p>A cube shape is formated so that each side is the face of a cube.</p>
        <div class="ui cube shape" #cube>
            <div class="sides">
                <div class="side">
                    <div class="content">
                        <div class="center">
                            1
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            2
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            3
                        </div>
                    </div>
                </div>
                <div class="side active">
                    <div class="content">
                        <div class="center">
                            4
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            5
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="content">
                        <div class="center">
                            6
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Left" (click)="cube.flipLeft()"><i class="left long arrow icon"></i></div>
            <div class="ui button" title="Flip Up" (click)="cube.flipUp()"><i class="up long arrow icon"></i></div>
            <div class="ui icon button visible" title="Flip Down" (click)="cube.flipDown()"><i class="down long arrow icon"></i></div>
            <div class="ui icon button" title="Flip Right" (click)="cube.flipRight()"><i class="right long arrow icon"></i></div>
        </div>

        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Over" (click)="cube.flipOver()"><i class="retweet icon"></i></div>
            <div class="ui button visible" title="Flip Back" (click)="cube.flipBack()"><i class="flipped retweet icon"></i></div>
        </div>

        <h4>Text</h4>
        <p>Shape can also be used on just text input.</p>
        <div class="ui message error">This functionality currently does not work properly.</div>
        <div class="ui text shape" #text>
            <div class="sides">
                <div class="ui header side">Did you know? This side starts visible.</div>
                <div class="ui header side active">Help, its another side!</div>
                <div class="ui header side">This is the last side</div>
            </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Left" (click)="text.flipLeft()"><i class="left long arrow icon"></i></div>
            <div class="ui button" title="Flip Up" (click)="text.flipUp()"><i class="up long arrow icon"></i></div>
            <div class="ui icon button visible" title="Flip Down" (click)="text.flipDown()"><i class="down long arrow icon"></i></div>
            <div class="ui icon button" title="Flip Right" (click)="text.flipRight()"><i class="right long arrow icon"></i></div>
        </div>

        <div class="ui ignored icon direction buttons">
            <div class="ui button" title="Flip Over" (click)="text.flipOver()"><i class="retweet icon"></i></div>
            <div class="ui button visible" title="Flip Back" (click)="text.flipBack()"><i class="flipped retweet icon"></i></div>
        </div>
    </div>
    <div class="ui tab" data-tab="settings">
        <h2>Directives / Components</h2>
        <p>A set of directives and components that work together to create shapes.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Usage</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.ui.shape</td>
                    <td>&lt;div class="ui shape"&gt;&lt;/div&gt;</td>
                    <td>This is the component that will create a shape that can be flipped by calling various methods.</td>
                </tr>
                <tr>
                    <td>.sides</td>
                    <td>&lt;div class="sides"&gt;&lt;/div&gt;</td>
                    <td>The container for all the sides of the shape being rendered.</td>
                </tr>
                <tr>
                    <td>.side</td>
                    <td>&lt;div class="side"&gt;&lt;/div&gt;</td>
                    <td>One of the sides of the shape that should be rendered, one should be active before shape will work.</td>
                </tr>
            </tbody>
        </table>

        <h2>Settings</h2>
        <p>Settings that can be added to the elements to change the functionality of the sticky div.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Default</th>
                    <th>Context</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[duration]</td>
                    <td>500</td>
                    <td>.ui.shape</td>
                    <td>The duration of the animations when transiting to other sides.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
