<h1 class="ui header">
    Sidebar

    <div class="sub header">
        A sidebar hides additional content beside a page.
    </div>
</h1>

<div class="ui hidden divider"></div>


<div class="ui segment">

    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="examples">Examples</a>
        <a class="item" data-tab="settings">Settings</a>
    </div>

    <div class="ui tab active" data-tab="examples">
        <div class="ui dividing right rail">
            <div class="ui sticky" style="width: 283px !important; height: 248px !important;"><h4
                    class="ui header">Sidebar</h4>
                <div class="ui vertical following fluid accordion text menu">
                    <div class="item"><a class="active title"><i class="dropdown icon"></i> <b>Examples</b></a>
                        <div class="active content menu"><a class="item" href="#transitions">Transitions</a><a
                                class="item" href="#displaying-multiple">Displaying Multiple</a><a class="item"
                                                                                                   href="#using-a-custom-context">Using
                            a custom context</a><a class="item" href="#triggering-showhide-with-other-content">Triggering
                            show/hide with other content</a><a class="item"
                                                               href="#triggering-custom-behavior-with-other-content">Triggering
                            custom behavior with other content</a><a class="item" href="#starting-visible">Starting
                            Visible</a></div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="ui header">Examples<a class="anchor" id="examples"></a></h2>

        <div class="no direction example">
            <h4 class="ui header">Transitions</h4><i class="icon code"></i><a class="anchor"
                                                                              id="transitions"></a>
            <p>Not all sidebar transitions are available for every sidebar direction, or when multiple sidebars
                are visible at a time.</p>
            <table class="ui celled definition table">
                <thead>
                <tr>
                    <th></th>
                    <th>Multiple Visible <i class="help circle link icon"
                                            data-content="Whether multiple sidebars of this type can be visible at same time"></i>
                    </th>
                    <th>Supports Vertical Sidebars</th>
                    <th>Supports Horizontal Sidebars</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Overlay</td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="green check icon"></i></td>
                </tr>
                <tr>
                    <td>Push</td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="green check icon"></i></td>
                </tr>
                <tr>
                    <td>Scale Down</td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="red cancel icon"></i></td>
                </tr>
                <tr>
                    <td>Uncover</td>
                    <td><i class="red cancel icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="red cancel icon"></i></td>
                </tr>
                <tr>
                    <td>Slide Along</td>
                    <td><i class="red cancel icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="red cancel icon"></i></td>
                </tr>
                <tr>
                    <td>Slide Out</td>
                    <td><i class="red cancel icon"></i></td>
                    <td><i class="green check icon"></i></td>
                    <td><i class="red cancel icon"></i></td>
                </tr>
                </tbody>
            </table>

            <div class="ui toggle dim checkbox">
                <div class="example">
                    <h2>Toggle</h2>
                    <div class="ui toggle checkbox">
                        <input id="sidebar-dim-page" name="public" type="checkbox">
                        <label for="sidebar-dim-page">Dim Page</label>
                    </div>
                </div>
            </div>

            <div class="ui hidden divider"></div>

            <h5 class="ui header">Direction</h5>
            <div class="ui buttons">
                <!--<div class="ui button" data-direction="left" (click)="toggleSidebar('left')">-->
                <!--Left-->
                <!--</div>-->
                <!--<div class="ui button" data-direction="right" (click)="toggleSidebar('right')">-->
                <!--Right-->
                <!--</div>-->
                <!--<div class="ui button" data-sidebar="top" sidebarContext="ui sidebar top demo ui segment" (click)="topSidebar.open()">-->
                <div class="ui button" data-sidebar="top" sidebarContext="ui sidebar top demo ui segment">
                    Top
                </div>
                <!--<div class="ui button" data-direction="bottom" (click)="toggleSidebar('bottom')">-->
                <!--Bottom-->
                <!--</div>-->
            </div>

            <!--<div class="ui hidden divider"></div>-->

            <!--<h5 class="ui header">All Direction Animations</h5>-->
            <!--<div class="ui button" data-transition="overlay">-->
            <!--Overlay-->
            <!--</div>-->
            <!--<div class="ui button" data-transition="push">-->
            <!--Push-->
            <!--</div>-->
            <!--<div class="ui button" data-transition="scale down">-->
            <!--Scale Down-->
            <!--</div>-->

            <!--<h5 class="ui header">Vertical-Only Animations</h5>-->
            <!--<div class="ui horizontal button" data-transition="uncover">-->
            <!--Uncover-->
            <!--</div>-->
            <!--<div class="ui horizontal button" data-transition="slide along">-->
            <!--Slide Along-->
            <!--</div>-->
            <!--<div class="ui horizontal button" data-transition="slide out">-->
            <!--Slide Out-->
            <!--</div>-->

        </div>


    </div>

    <div class="ui tab" data-tab="settings">
        <div class="ui dividing right rail" style="height: 3161px;">
            <div class="ui sticky" style=""><h4 class="ui header">Sidebar</h4>
                <div class="ui vertical following fluid accordion text menu">
                    <div class="item"><a class="active title" href="#sidebar"><b>
                        Sidebar
                    </b></a></div>
                    <div class="item"><a class="title" href="#module"><b>
                        Module
                    </b></a></div>
                </div>
            </div>
        </div>

        <h2 class="ui dividing header">
            Sidebar
            <a class="anchor" id="sidebar"></a></h2>

        <h4 class="ui header">
            Behavior
        </h4>
        <table class="ui celled sortable definition table segment">
            <thead>
            <tr>
                <th>Setting</th>
                <th class="four wide">Default</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>context</td>
                <td>body</td>
                <td>Context which sidebar will appear inside</td>
            </tr>
            <tr>
                <td>exclusive</td>
                <td>false</td>
                <td>Whether multiple sidebars can be open at once</td>
            </tr>
            <tr>
                <td>closable</td>
                <td>true</td>
                <td>Whether sidebar can be closed by clicking on page</td>
            </tr>
            <tr>
                <td>dimPage</td>
                <td>true</td>
                <td>Whether to dim page contents when sidebar is visible</td>
            </tr>
            <tr>
                <td>scrollLock</td>
                <td>false</td>
                <td>Whether to lock page scroll when sidebar is visible</td>
            </tr>
            <tr>
                <td>returnScroll</td>
                <td>false</td>
                <td>Whether to return to original scroll position when sidebar is hidden, automatically occurs
                    with <code>transition: scale</code></td>
            </tr>
            <tr>
                <td>delaySetup</td>
                <td>false</td>
                <td>When sidebar is initialized without the proper HTML, using this option will defer creation
                    of DOM to use <code>requestAnimationFrame</code>.
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui horizontal section divider"><i class="icon setting"></i></div>

        <h4 class="ui header">
            Animation
        </h4>
        <table class="ui celled sortable definition table segment">
            <thead>
            <tr>
                <th>Setting</th>
                <th class="six wide">Default</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>transition</td>
                <td>auto</td>
                <td>Named transition to use when animating sidebar. Defaults to 'auto' which selects transition
                    from <code>defaultTransition</code> based on direction.
                </td>
            </tr>
            <tr>
                <td>mobileTransition</td>
                <td>auto</td>
                <td>Named transition to use when animating when detecting mobile device. Defaults to 'auto'
                    which selects transition from <code>defaultTransition</code> based on direction.
                </td>
            </tr>
            <tr>
                <td>defaultTransition</td>
                <td>
                    <div class="code" data-type="javascript">
                        <!--{-->
                        <!--computer: {-->
                        <!--left : 'uncover',-->
                        <!--right : 'uncover',-->
                        <!--top : 'overlay',-->
                        <!--bottom : 'overlay'-->
                        <!--},-->
                        <!--mobile: {-->
                        <!--left : 'uncover',-->
                        <!--right : 'uncover',-->
                        <!--top : 'overlay',-->
                        <!--bottom : 'overlay'-->
                        <!--}-->
                        <!--}-->
                    </div>
                </td>
                <td>Default transitions for each direction and screen size, used with <code>transition:
                    auto</code></td>
            </tr>
            <tr>
                <td>useLegacy</td>
                <td>false</td>
                <td>Whether Javascript animations should be used. Defaults to <code>false</code>. Setting to
                    <code>auto</code> will use legacy animations only for browsers that do not support CSS
                    transforms
                </td>
            </tr>
            <tr>
                <td>duration</td>
                <td>500</td>
                <td>Duration of sidebar animation when using legacy Javascript animation</td>
            </tr>
            <tr>
                <td>easing</td>
                <td>easeInOutQuint</td>
                <td>Easing to use when using legacy Javascript animation</td>
            </tr>
            </tbody>
        </table>

        <div class="ui horizontal section divider"><i class="icon setting"></i></div>

        <h4 class="ui header">Callbacks</h4>

        <table class="ui celled sortable definition table segment">
            <thead>
            <tr>
                <th class="four wide">Setting</th>
                <th>Context</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>onVisible</td>
                <td>Sidebar</td>
                <td>Is called when a sidebar begins animating in.</td>
            </tr>
            <tr>
                <td>onShow</td>
                <td>Sidebar</td>
                <td>Is called when a sidebar has finished animating in.</td>
            </tr>
            <tr>
                <td>onChange</td>
                <td>Sidebar</td>
                <td>Is called when a sidebar begins to hide or show</td>
            </tr>
            <tr>
                <td>onHide</td>
                <td>Sidebar</td>
                <td>Is called before a sidebar begins to animate out.</td>
            </tr>
            <tr>
                <td>onHidden</td>
                <td>Sidebar</td>
                <td>Is called after a sidebar has finished animating out.</td>
            </tr>
            </tbody>
        </table>

        <h2 class="ui dividing header">
            Module
            <a class="anchor" id="module"></a></h2>

        <h4 class="ui header">
            DOM Settings
        </h4>
        <table class="ui celled definition table segment">
            <thead>
            <tr>
                <th>Setting</th>
                <th class="six wide">Default</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>namespace</td>
                <td>sidebar</td>
            </tr>
            <tr>
                <td>className</td>
                <td>
                    <div class="code" data-type="javascript">
                        <!--className : {-->
                        <!--active : 'active',-->
                        <!--animating : 'animating',-->
                        <!--dimmed : 'dimmed',-->
                        <!--ios : 'ios',-->
                        <!--pushable : 'pushable',-->
                        <!--pushed : 'pushed',-->
                        <!--right : 'right',-->
                        <!--top : 'top',-->
                        <!--left : 'left',-->
                        <!--bottom : 'bottom',-->
                        <!--visible : 'visible'-->
                        <!--}-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>regExp</td>
                <td>
                    <div class="code" data-type="javascript">
                        <!--regExp: {-->
                        <!--ios : /(iPad|iPhone|iPod)/g,-->
                        <!--mobile :-->
                        <!--/Mobile|iP(hone|od|ad)|Android|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera-->
                        <!--M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/g-->
                        <!--}-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>selector</td>
                <td>
                    <div class="code" data-type="javascript">
                        <!--selector: {-->
                        <!--fixed : '.fixed',-->
                        <!--omitted : 'script, link, style, .ui.modal, .ui.dimmer, .ui.nag, .ui.fixed',-->
                        <!--pusher : '.pusher',-->
                        <!--sidebar : '.ui.sidebar'-->
                        <!--}-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui horizontal section divider"><i class="icon setting"></i></div>

        <h4 class="ui header">
            Debug
        </h4>

        <table class="ui celled sortable definition table segment">
            <thead>
            <tr>
                <th>Setting</th>
                <th class="four wide">Default</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>name</td>
                <td>Sidebar</td>
                <td>Name used in debug logs</td>
            </tr>
            <tr>
                <td>silent</td>
                <td>False</td>
                <td>Silences all console output including error messages, regardless of other debug settings.
                </td>
            </tr>
            <tr>
                <td>debug</td>
                <td>False</td>
                <td>Provides standard debug output to console</td>
            </tr>
            <tr>
                <td>performance</td>
                <td>True</td>
                <td>Provides standard debug output to console</td>
            </tr>
            <tr>
                <td>verbose</td>
                <td>True</td>
                <td>Provides ancillary debug output to console</td>
            </tr>
            <tr>
                <td>errors</td>
                <td colspan="2">
                    <div class="code">
                        <!--error   : {-->
                        <!--method       : 'The method you called is not defined.',-->
                        <!--pusher       : 'Had to add pusher element. For optimal performance make sure body content is inside a pusher element',-->
                        <!--movedSidebar : 'Had to move sidebar. For optimal performance make sure sidebar and pusher are direct children of your body tag',-->
                        <!--overlay      : 'The overlay setting is no longer supported, use animation: overlay',-->
                        <!--notFound     : 'There were no elements that matched the specified selector'-->
                        <!--}-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>


