<div class="ui top menu">
    <div class="item header" style="width:259px">
        <img src="src/assets/images/ngx-semantic-ui-logo.png" class="ui labeled image circular" width="35" height="35">
        &nbsp;&nbsp; NGX Semantic-UI

    </div>

    <div class="ui right labeled icon menu  ">
        <a class="item" href="https://github.com/add-io/ngx-semantic-ui">
            <i class="github labeled icon"></i>
            GitHub
        </a>
        <menu-toggle></menu-toggle>
    </div>
</div>
