<h1 class="ui header">Progress</h1>
<div class="ui ignored info message">
    A progress bar shows the progression of a task
</div>

<div class="ui segment">
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="progress-examples">Examples</a>
        <a class="item" data-tab="progress-settings">Settings</a>
    </div>
    <div class="ui tab active" data-tab="progress-examples">
        <h4>Standard</h4>
        <p>A standard progess bar.</p>
        <div class="ui progress" [progress]="standardProgress">
            <div class="bar">
                <div class="progress"></div>
            </div>
            <div class="label">Uploading Files</div>
        </div>
        <div class="ui icon buttons">
            <div class="decrement ui basic red button icon" (click)="decreaseStandardProgress()"><i class="minus icon"></i></div>
            <div class="increment ui basic green button icon" (click)="increaseStandardProgress()"><i class="plus icon"></i></div>
        </div>

        <h4>Indicating</h4>
        <p>An indicating progress bar will change colors based on how full the level is.</p>
        <div class="ui indicating progress" [progress]="indicatingProgress">
            <div class="bar"></div>
            <div class="label">Funding</div>
        </div>
        <div class="ui icon buttons">
            <div class="decrement ui basic red button icon" (click)="decreaseIndicatingProgress()"><i class="minus icon"></i></div>
            <div class="increment ui basic green button icon" (click)="increaseIndicatingProgress()"><i class="plus icon"></i></div>
        </div>

        <h4>Attached</h4>
        <p>Loading bars can also be attached to content.</p>
        <div class="ui segment">
            <div class="ui top attached progress" [progress]="attachTopProgress" label="none">
                <div class="bar"></div>
            </div>
            <p>Attached Content</p>
            <div class="ui bottom attached progress" [progress]="attachBottomProgress" label="none">
                <div class="bar"></div>
            </div>
        </div>

        <div class="ui icon buttons">
            <div class="decrement ui basic red button icon" (click)="decreaseAttachedProgress()"><i class="minus icon"></i></div>
            <div class="increment ui basic green button icon" (click)="increaseAttachedProgress()"><i class="plus icon"></i></div>
        </div>
    </div>
    <div class="ui tab" data-tab="progress-settings">
        <h2>Directives / Components</h2>
        <p>A set of directives that work together to create progress bars.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Usage</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.ui.progress</td>
                    <td>&lt;div class="ui progress"&gt;&lt;/div&gt;</td>
                    <td>The progress declaration.</td>
                </tr>
                <tr>
                    <td>.bar</td>
                    <td>&lt;div class="bar"&gt;&lt;/div&gt;</td>
                    <td>The bar element that will be updated with the progress meter.</td>
                </tr>
                <tr>
                    <td>ngx-bar-progress-label.progress</td>
                    <td>&lt;ngx-bar-progress-label class="progress"&gt;&lt;/ngx-bar-progress-label&gt;</td>
                    <td>Internal label for the bar component. This will be injected into the bar element.</td>
                </tr>
            </tbody>
        </table>

        <h2>Settings</h2>
        <p>Settings that can be added to the elements to change the functionality of the progress bars.</p>
        <table class="ui celled sortable definition table segment">
            <thead>
                <tr>
                    <th class="four wide"></th>
                    <th class="four wide">Default</th>
                    <th>Context</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>[progress]</td>
                    <td>*required</td>
                    <td>.ui.progress</td>
                    <td>This is the progress in which the bar should be rendered.</td>
                </tr>
                <tr>
                    <td>[label]</td>
                    <td>visible</td>
                    <td>.ui.progress</td>
                    <td>Determines if the label should be visible on the progress bar.</td>
                </tr>
                <tr>
                    <td>[autoSuccess]</td>
                    <td>true</td>
                    <td>.ui.progress</td>
                    <td>Determines if the success class should be added once 100% has been reached.</td>
                </tr>
                <tr>
                    <td>[total]</td>
                    <td>100</td>
                    <td>.ui.progress</td>
                    <td>The overall total used to calculate the progress.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
